*.log
*.pt
test*.ipynb
test.ipynb
•ipynb_checkpoints/
__pycache__/
*.py[cod]
*.class
*.egg
*.egg-info
*.pyc
*.sw*
*.zip
.cache
.coverage
.eggs
.tox
.idea
/.mypy_cache
build
dist
docs/build/html/*
.vscode/
.DS_Store
.idea/
*.bin

debugging/
test/
notes.md